@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-custom {
  clip-path: polygon(50% 0%, 100% 50%, 45% 100%, 0 100%, 0 0);
}

@media screen and (max-width: 768px) {
  .clip-custom {
    clip-path: polygon(50% 0%, 100% 50%, 45% 100%, 0 100%, 0 0);
  }
}

@layer base {
  :root {
    --background: 40 0% 95%;
    --foreground: 0 0% 12%;
    --card: 40 0% 90%;
    --card-foreground: 40 0% 10%;
    --popover: 40 0% 95%;
    --popover-foreground: 40 95% 0%;
    --primary: 40 81.1% 37.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 2 10% 85%;
    --muted-foreground: 40 0% 35%;
    --accent: 2 10% 80%;
    --accent-foreground: 40 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 40 0% 90%;
    --border: 40 20% 50%;
    --input: 40 20% 18%;
    --ring: 40 81.1% 37.3%;
    --radius: 0rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
